<div id="library"  ng-controller="libraryCtrl">


	<div class="librarySearchWrapper">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Library</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<p class="navbar-text">Search : </p>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Card name..." ng-model="stringSearch" ng-keyup="searchCard($event)">
						</div>
					</form>
					<p class="navbar-text">{{total}} results for current search (max on screen : 30)</p>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Advanced search <span class="caret"></span></a></li>
					</ul>					
				</div>
			</div>
		</nav>


		<div class="librarySearchresultsWrapper">
			<table class="librarySearchresultsTable">
				<tr>
					<td>
						<div class="tableResultsWrapper wrapperScroll">
						    <table class="headers scrollItem" >
						        <thead>
						            <tr>
										<th>Name <span class="caret"></span></th>
										<th class="center">Mana Cost</th>
										<th class="center">P/T</th>
										<th class="center">Loyalty</th>
										<th>Types</th>
										<th>Edition</th>
						            </tr>
						        </thead>
						    </table>						
							<table id="tableResults" class="floatHead">
								<tbody>
									<tr ng-repeat="card in results" ng-class="{selected:cardSlected==card.id}" ng-click="cardSelect(card.id, card.mid)" >
										<td ng-bind-html="decode( card.name );"></td>
										<td class="center" ng-bind-html="getManaCost( card.mana );"></td>
										<td class="center">{{card.pt}}</td>
										<td class="center">{{card.loyalty}}</td>
										<td>{{card.type}}</td>
										<td ng-bind-html="decode( card.edition );"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
					<td class="previewTD">
						<div class="imgPreviewWrapper">
							<a href="{{linkToImg}}" target="_blank">
								<img src="{{previewUrl}}" id="imgPreview"/>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">My deck / </a>			
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<p class="navbar-text" ng-bind-html="decode(deck_name);"></p><span class="navbar_comment"  ng-bind-html="decode(deck_comment);"></span>
					<ul class="nav navbar-nav navbar-right">
						<li><button type="button" class="btn btn-default navbar-btn" ng-show="deck_set" ng-click="deleteDeck()">Delete this deck</button></li>
						<li>&nbsp;</li>					
						<li><button type="button" class="btn btn-default navbar-btn" ng-click="openDeck()">Open deck</button></li>
						<li>&nbsp;</li>
						<li><button type="button" class="btn btn-default navbar-btn" ng-click="newDeck()">New deck</button></li>
					</ul>
				</div>

				
			</div>
		</nav>

		<div class="libraryDeckWrapper">
			<div class="createDeckWrapper">
				
			</div>


		</div>


	</div>







	<div class="popup-layer" ng-show="popup">
		<div class="popup-wrapper" id="createDeckPopup" ng-show="creatingNewDeck">
			<div class="popup-title">
				<span class="title">New deck</span>
				<span class="glyphicon glyphicon-remove" ng-click="quitCreatingDeck()"></span>
			</div>

			<div class="popup-body">
				<p>Fill the following fields in order to create a new deck.</p>

				<form id="formCreateDeck" name="form_create_deck" class="popup-form">
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon  input-group-label">Deck name * </div>
							<input class="form-control" type="text" id="deckName" ng-model="newDeck.deckname">
						</div>
					</div>				
					<p>A comment about that deck :</p>
					<textarea class="form-control" rows="3"  ng-model="newDeck.comment"></textarea>
				</form>

				<p class="right">
					<button type="button" class="btn btn-default" ng-click="newDeckCreation()">Create</button>
				</p>

			</div>

		</div>	


		<div class="popup-wrapper" id="openDeckPopup" ng-show="openingDeck">
			<div class="popup-title">
				<span class="title">Open deck</span>
				<span class="glyphicon glyphicon-remove" ng-click="quitOpeningDeck()"></span>
			</div>

			<div class="popup-body">
				<ul class="list-full">
					<li ng-repeat="deck in decks" ng-click="setDeck( deck.id );" ng-bind-html="decodeDeckName( deck.name ) + decodeDeckComment( deck.comment );"></li>
				</ul>
			</div>

		</div>	


	</div>











</div>






