<div class="login-box">
	<div class="login-box-container">
		<div class="login-box-left">
			<h1>Login</h1>
			<form id="formLogin">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon  input-group-label">Login</div>
						<input class="form-control login-box-input" type="text" name="userLogin">
					</div>
				</div>				
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon input-group-label">Pass</div>
						<input class="form-control login-box-input" type="text" name="userPass">
					</div>
				</div>
				<div class="text-center">
					<br/>
					<span class="glyphicon glyphicon-fire"></span> <a href="#" ng-click="tryConnect();">Connect</a>
				</div>
			</form>
		</div>
		<div class="login-box-right">
			<h1>Guest</h1>
		</div>
	</div>
</div>