body {
	min-width: 990px;
	min-height: 750px;
	background: url(../images/tpl/textures/00.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	font-family: 'Open Sans', sans-serif;
}
#htmlWrapper {
	position: absolute !important;
	width: 100%;
	height: 100%;
	min-width: 990px;
	min-height: 750px !important;	
	left: 0px;
	top: 0px;
	overflow: hidden;
}
a {
	cursor: pointer;
}
.closeSpan {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 16px;	
}
.closeSpan:hover {
	cursor: pointer;
	color: orange;
}

.spacer {
	margin: 20px 0;
}
.center {
	text-align: center;
}








/** MODAL BOX **/
.modal-layer {
	position: fixed !important;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/tpl/textures/00.png);
	overflow: hidden;
	z-index: 9999;
}
.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80px;
	margin-top: -40px;
	min-width : 400px;
	margin-left: -200px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;
}
.modal-button {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
}
.modal-button span:hover {
	cursor: pointer;
	color: orange;
}
.modal-text {
	margin: 30px auto 20px auto;
	width: 90%;
	text-align:center;
	color: #fff;
	line-height: 25px;
	font-size: 12px;
}







/** LOGIN **/
.login-box {
	position: absolute;
	width: 600px;
	height: 200px;
	top: 60%;
	left: 50%;
	margin-left: -300px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;
}
.login-box a {
	color: #fff;
}
.login-box .form-group {
	margin-bottom: 5px;
}
.login-box-container {
	width: 600px;
	height: 180px;
	margin: 10px 0;
}
.login-box-left {
	width: 289px;
	height: 180px;
	border-right: 1px solid #666;
	float: left;
}
.login-box-right {
	width: 290px;
	height: 180px;
	float: right;
}

.login-box-left .input-group {
	margin-left: auto;
	margin-right: auto;
}
.input-group-label {
	width: 60px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.login-box-input {
	border-color: #1c212a;
	background: #1c212a;	
	color: #fff;
}
.login-box h1 {
	text-align: center;
	color: #fff;
	margin: 5px 0 15px 0;
	font-size: 25px;
}
.login-box-left span.glyphicon-fire {
	margin-right: 10px;
	color: orange;
}
.login-box-left span.glyphicon-retweet {
	margin-right: 10px;
	color: lightgreen;
}
.login-box-right p {
	text-align:center;
	margin-top: 25px;
	color: #fff;
	line-height: 25px;
}
.login-box-right p span {
	margin-right: 5px;
	color: orange;
}
.login-box-right p a {
	color: orange;
}


/** SUBSCRIBE BOX **/
.subscribe-box {
	position: absolute;
	width: 600px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;	
}
.subscribe-box h1 {
	text-align: center;
	color: #fff;
	margin: 15px 0 15px 0;
	font-size: 35px;
}
.sign-up-container {
	width: 90%;
	margin: 20px auto;
}
.sign-up-group .input-group {
	width: 100%;
}
.sign-up-box-input {
	border-color: #1c212a;
	background: #1c212a;	
	color: #fff;
}
.sign-up-input-group-label1 {
	width: 160px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.sign-up-input-group-label2 {
	width: 160px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.sign-up-validation-box {
	line-height: 25px;
	color: #fff;
	text-shadow: 0 0 0 transparent;
}
input.sign-up-input-checkbox {
	display: inline;
	margin-right: 8px;
	vertical-align: baseline;
}
.sign-up-validation-box span {
	margin-right: 5px;
	color: orange;
}
.sign-up-validation-box a {
	cursor: pointer;
	color: #fff;
}





/** Right Menu **/
#top-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 40px;
	background: #13171d;
	box-shadow: 0 0px 3px #000;
	z-index: 50;
}
#top-menu ul {

}
#top-menu ul li {
	float : left;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 16px;
	position: relative;
}
#top-menu ul li.action:hover,
#top-menu ul li.active {
	background: #1f252e;
	cursor: pointer;
}
#top-menu ul li.login-welcome {
	color: orange;
	font-size: 13px;
}
#top-menu ul li.right {
	float: right;
}


#top-menu ul li ul.sub-menu {
	position: absolute;
	right: 0px;
	top: 100%;
	width: 130px;
	background: #13171d;
	text-align: right;
	display: none;
}
#top-menu ul li ul.sub-menu li {
	white-space: nowrap;
	padding: 0;
	padding: 0 20px;
	float: right;
	width: 100%;
}
#top-menu ul li:hover ul.sub-menu {
	display: block;
}
#top-menu ul li span.glyphicon {
	font-size: 12px;
	color: orange;
	margin-right: 10px;
}


/** Main body **/

#main-body {
	position: absolute;
	top: 60px;
	left: 20px;
	width: 100%;
	height: 100%;
	background: url(../images/tpl/textures/blue.png);
	box-shadow: 0 0px 3px #000;
	color: #fff;
	overflow: auto;
}

/** Library **/

#main-body #library {
	min-height: 670px;
	width: 100%;
}
#main-body #library .librarySearchWrapper {
	width: 100%;
	min-width: 670px;
	min-height: 670px;
	position :relative;
}
#main-body nav.navbar {
	margin-bottom: 0px;
	border-radius: 0;
	background: #2D384D;
	border: 0 none;
	color: #FFF;
}
#main-body nav.navbar p,
#main-body nav.navbar a {
	color: #fff;
}
#main-body .input-group-addon,
#main-body .btn {
	width: 60px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
#main-body .btn-default {
	text-shadow: 0 0 transparent;
	width: inherit;
	outline: 0 none;

}
#main-body input.form-control {
	border-color: #1c212a;
	background: #1c212a;	
	color: #fff;
}
#main-body #library .librarySearchresultsWrapper,
#main-body #library .libraryDeckWrapper {
	height: 320px;
	width: 100%;
	position: relative;
}
#main-body #library .librarySearchresultsWrapper table.librarySearchresultsTable {
	width: 100%;
	height: 320px;
}
#main-body #library .librarySearchresultsWrapper table.librarySearchresultsTable td {
	vertical-align: top;
}
#main-body #library .librarySearchresultsWrapper table.librarySearchresultsTable td.previewTD {
	width:242px;
	vertical-align: middle;
	background: #fff;
}
#main-body #library .librarySearchresultsWrapper table.librarySearchresultsTable div.imgPreviewWrapper {
	text-align: center;
	vertical-align: middle;
}
#main-body #library .tableResultsWrapper {
	height: 320px;
	overflow-y: scroll;
	position: relative;
	width: 100%;
}
#main-body #library .tableResultsWrapper table {
	width: 100%;
	margin: 0;
	table-layout: fixed;
	border-collapse: collapse;	
}
#main-body #library .tableResultsWrapper  table.headers {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
#main-body #library table#tableResults {
	width: 100%;
	margin-top: 30px;
}
#main-body #library table.headers thead {
	background: #0c0e11;
}
#main-body #library table.headers thead th {
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
}
#main-body #library table#tableResults tbody tr {
	background: #1c212a;
}
#main-body #library table#tableResults tbody tr:hover,
#main-body #library table#tableResults tbody tr.selected {
	cursor: pointer;
	background: #2D384D;
}
#main-body #library table#tableResults tbody tr td {
	padding-left: 5px;
	line-height: 28px;
	font-size: 12px;
	height: 28px;
}



























/* Symbols **/
.symbol{
	display:inline-block;
	position:relative;
	top:.2em;
	height:1em;
	width:1em;
	background-image: url('../images/symbols.png');
	background-size: 10em 7em;
	background-repeat: no-repeat;
	background-position: top left;
	text-indent: -9999px;
}
.symbol_1{
	background-position:-1em 0em;
}
.symbol_2{
	background-position:-2em 0em;
}
.symbol_3{
	background-position:-3em 0em;
}
.symbol_4{
	background-position:-4em 0em;	
}
.symbol_4{
	background-position:-4em 0em;	
}
.symbol_5{
	background-position:-5em 0em;	
}
.symbol_6{
	background-position:-6em 0em;	
}
.symbol_7{
	background-position:-7em 0em;	
}
.symbol_8{
	background-position:-8em 0em;	
}
.symbol_9{
	background-position:-9em 0em;	
}
.symbol_10{
	background-position:0em -1em; 
}
.symbol_11{
	background-position:-1em -1em;
}
.symbol_12{
	background-position:-2em -1em;
}
.symbol_13{
	background-position:-3em -1em;
}
.symbol_14{
	background-position:-4em -1em;	
}
.symbol_15{
	background-position:-5em -1em;	
}
.symbol_16{
	background-position:-6em -1em;	
}
.symbol_17{
	background-position:-7em -1em;	 
}
.symbol_18{
	background-position:-8em -1em;	
}
.symbol_19{
	background-position:-9em -1em;	
}
.symbol_20{
	background-position:0em -2em; 
}
.symbol_X,
.symbol_Variable_Colorless{
	background-position:-1em -2em; 
}
.symbol_Y{
	background-position:-2em -2em;
}
.symbol_Z{
	background-position:-3em -2em;
}
.symbol_W,
.symbol_White{
	background-position:-4em -2em;	
}
.symbol_U,
.symbol_Blue{
	background-position:-5em -2em;	
}
.symbol_B,
.symbol_Black{
	background-position:-6em -2em;	
}
.symbol_R,
.symbol_Red{
	background-position:-7em -2em;	
}
.symbol_G,
.symbol_Green{
	background-position:-8em -2em;	
}
.symbol_S,
.symbol_Snow{
	background-position:-9em -2em;	
}
.symbol_WU,
.symbol_UW,
.symbol_White_or_Blue{
	background-position:0em -3em; 
}
.symbol_WB,
.symbol_BW,
.symbol_White_or_Black{
	background-position:-1em -3em;
}
.symbol_UB,
.symbol_BU,
.symbol_Blue_or_Black{
	background-position:-2em -3em;
}
.symbol_UR,
.symbol_RU,
.symbol_Blue_or_Red{
	background-position:-3em -3em;
}
.symbol_BR,
.symbol_RB,
.symbol_Black_or_Red{
	background-position:-4em -3em;	 
}
.symbol_BG,
.symbol_GB,
.symbol_Black_or_Green{
	background-position:-5em -3em;	
}
.symbol_RW,
.symbol_WR,
.symbol_Red_or_White{
	background-position:-6em -3em;	
}
.symbol_RG,
.symbol_GR,
.symbol_Red_or_Green{
	background-position:-7em -3em;	
}
.symbol_GW,
.symbol_WG,
.symbol_Green_or_White{
	background-position:-8em -3em;	
}
.symbol_GU,
.symbol_UG,
.symbol_Green_or_Blue{
	background-position:-9em -3em; 
}
.symbol_2W,
.symbol_Two_or_White{
	background-position:0em -4em; 
}
.symbol_2U,
.symbol_Two_or_Blue{
	background-position:-1em -4em;;
}
.symbol_2B,
.symbol_Two_or_Black{
	background-position:-2em -4em;
}
.symbol_2R,
.symbol_Two_or_Red{
	background-position:-3em -4em;
}
.symbol_2G,
.symbol_Two_or_Green{
	background-position:-4em -4em;	
}
.symbol_WP,
.symbol_Phyrexian_White{
	background-position:-5em -4em;	
}
.symbol_UP,
.symbol_Phyrexian_Blue{
	background-position:-6em -4em;	
}
.symbol_BP,
.symbol_Phyrexian_Black{
	background-position:-7em -4em;	
}
.symbol_RP,
.symbol_Phyrexian_Red{
	background-position:-8em -4em;	
}
.symbol_GP,
.symbol_Phyrexian_Green{
	background-position:-9em -4em;	
}
.symbol_T,
.symbol_Tap{
	background-position:0em -5em; 
}
.symbol_UT,
.symbol_Untap,
.symbol_Q{
	background-position:-1em -5em;
}
.symbol_Infinite{
	background-position:-2em -5em; 
}
.symbol_Half{
	background-position:-3em -5em;
}
.symbol_1000000,
.symbol_Million{
	width:4.9em;
	background-position:0em -6em; 
}
.symbol_100,
.symbol_HUNDRED{
	width:1.85em;
	background-position:-4.9em -6em;
}
.symbol_HW,
.symbol_500{
	border-radius: 0 3em 3em 0 !important;
	width: 10px;
	background-position: -7.96em -6em;
}
.symbol_HR{
	border-radius: 0 3em 3em 0 !important;
	width: 7px;
	background-position: -8.5em -6em;
}