body {
	min-width: 990px;
	min-height: 750px;
	background: url(../images/tpl/textures/00.jpg) no-repeat center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	font-family: 'Open Sans', sans-serif;
}
#htmlWrapper {
	position: absolute !important;
	width: 100%;
	height: 100%;
	min-width: 990px;
	min-height: 750px !important;	
	left: 0px;
	top: 0px;
	overflow: hidden;
}
a {
	cursor: pointer;
}
.closeSpan {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 16px;	
}
.closeSpan:hover {
	cursor: pointer;
	color: orange;
}

.spacer {
	margin: 20px 0;
}








/** MODAL BOX **/
.modal-layer {
	position: fixed !important;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/tpl/textures/00.png);
	overflow: hidden;
	z-index: 9999;
}
.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 80px;
	margin-top: -40px;
	min-width : 400px;
	margin-left: -200px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;
}
.modal-button {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
}
.modal-button span:hover {
	cursor: pointer;
	color: orange;
}
.modal-text {
	margin: 30px auto 20px auto;
	width: 90%;
	text-align:center;
	color: #fff;
	line-height: 25px;
	font-size: 12px;
}







/** LOGIN **/
.login-box {
	position: absolute;
	width: 600px;
	height: 200px;
	top: 60%;
	left: 50%;
	margin-left: -300px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;
}
.login-box a {
	color: #fff;
}
.login-box .form-group {
	margin-bottom: 5px;
}
.login-box-container {
	width: 600px;
	height: 180px;
	margin: 10px 0;
}
.login-box-left {
	width: 289px;
	height: 180px;
	border-right: 1px solid #666;
	float: left;
}
.login-box-right {
	width: 290px;
	height: 180px;
	float: right;
}

.login-box-left .input-group {
	margin-left: auto;
	margin-right: auto;
}
.input-group-label {
	width: 60px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.login-box-input {
	border-color: #1c212a;
	background: #1c212a;	
	color: #fff;
}
.login-box h1 {
	text-align: center;
	color: #fff;
	margin: 5px 0 15px 0;
	font-size: 25px;
}
.login-box-left span.glyphicon-fire {
	margin-right: 10px;
	color: orange;
}
.login-box-left span.glyphicon-retweet {
	margin-right: 10px;
	color: lightgreen;
}
.login-box-right p {
	text-align:center;
	margin-top: 25px;
	color: #fff;
	line-height: 25px;
}
.login-box-right p span {
	margin-right: 5px;
	color: orange;
}
.login-box-right p a {
	color: orange;
}


/** SUBSCRIBE BOX **/
.subscribe-box {
	position: absolute;
	width: 600px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -300px;
	background: #13171d;
	box-shadow: 0 3px 6px 2px #08090c;	
}
.subscribe-box h1 {
	text-align: center;
	color: #fff;
	margin: 15px 0 15px 0;
	font-size: 35px;
}
.sign-up-container {
	width: 90%;
	margin: 20px auto;
}
.sign-up-group .input-group {
	width: 100%;
}
.sign-up-box-input {
	border-color: #1c212a;
	background: #1c212a;	
	color: #fff;
}
.sign-up-input-group-label1 {
	width: 160px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.sign-up-input-group-label2 {
	width: 160px;
	background: #0c0e11;
	color: #fff;
	border-color: #1c212a;
}
.sign-up-validation-box {
	line-height: 25px;
	color: #fff;
	text-shadow: 0 0 0 transparent;
}
input.sign-up-input-checkbox {
	display: inline;
	margin-right: 8px;
	vertical-align: baseline;
}
.sign-up-validation-box span {
	margin-right: 5px;
	color: orange;
}
.sign-up-validation-box a {
	cursor: pointer;
	color: #fff;
}





/** Right Menu **/
#top-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height : 40px;
	background: #13171d;
	box-shadow: 0 0px 3px #000;
	z-index: 50;
}
#top-menu ul {

}
#top-menu ul li {
	float : left;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 16px;
	position: relative;
}
#top-menu ul li.action:hover,
#top-menu ul li.active {
	background: #1f252e;
	cursor: pointer;
}
#top-menu ul li.login-welcome {
	color: orange;
	font-size: 13px;
}
#top-menu ul li.right {
	float: right;
}


#top-menu ul li ul.sub-menu {
	position: absolute;
	right: 0px;
	top: 100%;
	width: 130px;
	background: #13171d;
	text-align: right;
	display: none;
}
#top-menu ul li ul.sub-menu li {
	white-space: nowrap;
	padding: 0;
	padding: 0 20px;
	float: right;
	width: 100%;
}
#top-menu ul li:hover ul.sub-menu {
	display: block;
}
#top-menu ul li span.glyphicon {
	font-size: 12px;
	color: orange;
	margin-right: 10px;
}


/** Main body **/

#main-body {
	position: absolute;
	top: 60px;
	left: 20px;
	width: 100%;
	height: 100%;
	background: url(../images/tpl/textures/blue.png);
	box-shadow: 0 0px 3px #000;
	color: #fff;
}

